.parent-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
}

.navigation-base{
    background-color: aliceblue;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    border: .5px solid black;
}

.navigation-base  h1{
    color: #282c34;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-base{
    background-color: aliceblue;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    padding: .5em;
}

.todo-base ul{
    color: #000000;
    list-style:none;
    margin: 0;
    padding: 0;
}

.completed{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.372);
}

.todo-base > ul > li > button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: .3rem;
    border-radius: 2px;   
}

.delete:hover{
    background-color: #b14a4a;
    color: rgb(255, 255, 255);
    /* margin-left: .5rem; */
}

.done:hover{
    background-color: #169558;
    color: rgb(254, 254, 254);
}

.edit:hover{
    background-color: #958016;
    color: rgb(254, 254, 254);
}

.edit:disabled{
   pointer-events: none;
}

.button-base{
    height: 60%;
    width: 30%;
   
}

.button-base >button{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    color: black;
    cursor: pointer;
}

.input-base{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-base > form{
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.input-base >form> input{
    border-radius: 3px;
    height: 2rem;
    width: 80%;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: .5rem;
}

.form-btn-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: .5rem;
}

.form-btn-wrapper > button{
 border-radius: 3px;   
 cursor: pointer;
 border: none;
 color: white;
 text-decoration: none;
 font-size: 20px;
 display: flex;
 align-items: center;
 padding: .5rem;
}

.form-btn-wrapper > button::after{
    font-family:monospace;
}

.add-todo-btn{
    background-color: #4CAF50; /* Green */ 
}

.add-todo-btn::after{
    content: 'Add todo';
}

.add-todo-btn:hover{
    background-color: #2b862e; 
}

.save-btn{
    background-color: #4c86af;
}

.save-btn::after{
    content: 'Save';
}

.save-btn:hover{
    background-color: #295b7e; 
}

.clear-btn{
    background-color: #af4c4c;
}

.clear-btn::after{
    content: 'Clear';
}

.clear-btn:hover{
    background-color: #721e1e;
}

.modal-parent{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(67, 67, 67,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-child{
    background-color: rgb(255, 255, 255);
    height: 30%;
    width: 75%;
    border-radius: 3px;
}

.modal-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-wrapper >form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: 70%;
    justify-content: space-around;
}

.modal-content-wrapper >form> input{
    border-radius: 3px;
    text-decoration: none;
    height: 1.5rem;
    font-size: 1rem;
 }

 .edit-button-wrapper{
    display: flex;
    justify-content: flex-end;
 }

 .edit-button-wrapper > button{
    border-radius: 3px;   
    cursor: pointer;
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-left: 0.5rem
 }

 .submit-edit-button{
    background-color: #4CAF50;
 }

 .submit-edit-button::after{
    content: 'Submit';
 }

 .submit-edit-button:hover{
    background-color: #207823;
 }

 .cancel-edit-button{
    background-color: #af4c4c;
 }

 .cancel-edit-button::after{
    content: 'Cancel';
 }

 .cancel-edit-button:hover{
    background-color: #651a1a;
 }

 .status-indication{
    height: 100%;
    color: rgb(67, 67, 67,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner{
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.nothing{
    animation-duration: 950ms;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 750px) {

    .form-btn-wrapper > button{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
       }

    .todo-base  ul{
        font-size: large;
    }

    .todo-base > ul > li > button{
        font-size: x-large;
    }

    .delete{
        background-color: #b14a4a;
    }
    
    .done{
        background-color: #169558;
    }
    
    .add-todo-btn::after{
        content: '';
    }

    .save-btn::after{
        content: '';
    }

    .clear-btn::after{
        content: '';
    }

}

@media screen and (max-height: 500px){
    .navigation-base{
        display: none;
    }
}


